.content {
  min-height: calc(100vh - (altura del pie de página en píxeles));
  padding-bottom: (altura del pie de página en píxeles);
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
